.main-bg {
  background-color: #f2f3f5;
}

.main-bg-dark {
  background-color: #2c2c30;
}

.ft-color {
  color: #1a1a1a;
}

.ft-color-dark {
  color: #f6f6f6;
}

.box-bg {
  background-color: #fff;
}

.box-bg-dark {
  background-color: #101014;
}
